{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'View Tour' %}
{% block section_title %}{{ widget_title | trans }}{% endblock %}

{% block action %}
    <a href="{{ url('/tour-guide/tour') }}" class="btn">
        Back to List
    </a>
    <a href="{{ url('/tour-guide/tour/edit', {'id-tour-guide': tourGuide.idTourGuide}) }}" class="btn">
        Edit Tour
    </a>
    <a href="{{ url('/tour-guide/steps/create', {'fk-tour-guide': tourGuide.idTourGuide}) }}" class="btn">
        Add Step
    </a>
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Tour Details' | trans } %}
        {% block widget_content %}
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <th>{{ 'ID' | trans }}</th>
                            <td>{{ tourGuide.idTourGuide }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Route' | trans }}</th>
                            <td>{{ tourGuide.route }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Version' | trans }}</th>
                            <td>{{ tourGuide.version }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Active' | trans }}</th>
                            <td>
                                {% if tourGuide.isActive %}
                                    <span class="label label-success">Active</span>
                                {% else %}
                                    <span class="label label-default">Inactive</span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endblock %}
    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Tour Steps' | trans } %}
        {% block widget_content %}
            {% if tourGuideSteps|length > 0 %}
                <table class="table table-striped table-bordered table-hover gui-table-data">
                    <thead>
                        <tr>
                            <th>{{ 'ID' | trans }}</th>
                            <th>{{ 'Step Index' | trans }}</th>
                            <th>{{ 'Title' | trans }}</th>
                            <th>{{ 'Element' | trans }}</th>
                            <th>{{ 'Position' | trans }}</th>
                            <th>{{ 'Active' | trans }}</th>
                            <th>{{ 'Actions' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for step in tourGuideSteps %}
                            <tr>
                                <td>{{ step.idTourGuideStep }}</td>
                                <td>{{ step.stepIndex }}</td>
                                <td>{{ step.title }}</td>
                                <td>{{ step.attachToElement }}</td>
                                <td>{{ step.attachToPosition }}</td>
                                <td>
                                    {% if step.isActive %}
                                        <span class="label label-success">Active</span>
                                    {% else %}
                                        <span class="label label-default">Inactive</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url('/tour-guide/steps/edit', {'id-tour-guide-step': step.idTourGuideStep}) }}" class="btn btn-xs btn-primary">
                                        <i class="fa fa-pencil"></i> Edit
                                    </a>
                                    <a href="{{ url('/tour-guide/steps/delete', {'id-tour-guide-step': step.idTourGuideStep}) }}" class="btn btn-xs btn-danger">
                                        <i class="fa fa-trash"></i> Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">
                    {{ 'No steps found for this tour guide.' | trans }}
                </div>
                <a href="{{ url('/tour-guide/steps/create', {'fk-tour-guide': tourGuide.idTourGuide}) }}" class="btn">
                    Add Step
                </a>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
